**/__pycache__
samples/output
samples/vivado_cmoda7/hardware/remote_if_demo.srcs/hdl/buttons.sv
samples/vivado_cmoda7/hardware/remote_if_demo.srcs/hdl/debug.sv
samples/vivado_cmoda7/hardware/remote_if_demo.srcs/hdl/pwm_gen.sv
samples/vivado_cmoda7/hardware/remote_if_demo.srcs/hdl/leds.sv
samples/vivado_cmoda7/hardware/remote_if_demo.srcs/hdl/sweep_gen.sv
samples/vivado_cmoda7/docs/*
samples/vivado_cmoda7/software/buttons.py
samples/vivado_cmoda7/software/debug.py
samples/vivado_cmoda7/software/leds.py
samples/vivado_cmoda7/software/pwm_gen.py
samples/vivado_cmoda7/software/sweep_gen.py
samples/vivado_cmoda7/hardware/remote_if_demo.srcs/hdl/wb_adapter.sv
samples/vivado_cmoda7/hardware/remote_if_demo.srcs/hdl/wb_arbiter.sv
samples/vivado_cmoda7/hardware/remote_if_demo.srcs/hdl/wb_bus.sv
samples/vivado_cmoda7/hardware/remote_if_demo.srcs/hdl/wb_interface.sv
